/* AllProjects.css */
.all-projects {
    padding: 80px 12%;
    color: white;
    text-align: center;
}

.domain-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.domain-card {
    background: #1c1c1c;
    border-radius: 15px;
    padding: 60px 20px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.domain-card:hover {
    transform: translateY(-8px);
    background: #2a2a2a;
}

@media (max-width: 768px) {
    .domain-container { grid-template-columns: 1fr; }
}

.BackButton{
    align-items:flex-end;
}